@import '~include-media/dist/include-media';

.IndexPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &:before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: block;
    background-image: url('/images/mara.jpg');
    background-position: center;
    background-size: cover;
    filter: blur(10px);
    z-index: -1;
  }

  h1 {
    z-index: 9999;
    color: #fff;
    font-size: 5rem;
    font-weight: 700;
  }
}